
.container{
    text-align: center;
     display:inline
    /*flex-direction:column ;
    width: 50vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-size: 18px; */
}
body{
    text-align: center;
    background-color: lightgoldenrodyellow;
}
h1{
    color: crimson;
    text-align: center;
}
label{
    color:darkmagenta;
    padding: 2 rem;
    margin: 2 rem;

}
button{
    border: 2px solid  greenyellow;
    color: darkred;
    padding: 1rem;
    border-color: rgb(247, 20, 255);
   
}
button:hover{
    background-color: rgb(156, 205, 92);
    
}
input{
            border: 2px solid rgb(240, 28, 127);
            margin: 1rem;
            padding: 1rem;
            background-color: rgb(200, 209, 209);
}
caption{
    padding: 1rem;
    text-align: center;
}
input:hover{
    background-color: darkorange;
}
ul li{
    display: inline;
}
footer{
    font-size: x-large;
}
.th{
    text-align: center;
}