
.container{
    text-align: center;
     display:inline
    /*flex-direction:column ;
    width: 50vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-size: 18px; */
}
body{
    text-align: center;
    background-color: lightgoldenrodyellow;
    
}
h1{
    color: rgb(8, 8, 8);
    text-align: center;
}
label{
    color:darkmagenta;
    padding: 2 rem;
    margin: 2 rem;

}
button{
    border: 1px solid  greenyellow;
    color: rgb(17, 11, 11);
    padding: 2rem;
    border-color: rgb(247, 20, 255);
   
}
button:hover{
    background-color: rgb(156, 205, 92);
    
}
input{
            border: 1px solid rgb(240, 28, 127);
            margin: 2rem;
            padding: 2rem;
            background-color: rgb(200, 209, 209);
}
caption{
    padding: 1rem;
    text-align: center;
}
input:hover{
    background-color: rgb(226, 217, 205);
}
ul li{
    display: inline;
}
footer{
    font-size: medium;
}
